* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 190px;
    position: fixed;
    top: 200px;
    left: calc(50vw - 150px);
    background-color: rgb(247, 154, 223);
    border-radius: 10px;
    border: 2px solid rgba(82, 5, 69, 0.964);
  }
  
  .modal {
    width: 500px;
    height: 650px;
    left: calc(50vw - 250px);
    top: calc(50vh - 300px);
    font-size: 18px;
  }
  
  .modal__titles,
  .modal__pressure_titles,
  .modal__weight_titles,
  .modal__heart_titles,
  .modal__age_titles,
  .modal__last_visit_titles,
  .modal__priority_titles,
  .modal__status_titles {
    font-size: 18px;
  }
  
  

  
  